/*body {
    background-color:navy;
}*/

nav a {
    color: dodgerblue;
    font-style: oblique;
    font-size: xx-large;
}
#current-link{
    color:gold;
}

.uppercase{
    text-transform: uppercase;
    font-size: 48px;
}
img {
    width:200px;
    height:auto;
}
h1 {
    border-bottom: 5px solid black;
    padding: 10px;
    padding-left: 100px;
    margin-right: 60%;
    font-style: oblique;
}
body{
    background-image: url(http://cdn.windows7themes.net/wallpaper/call-of-duty-hd-wallpaper-06.jpg);
    background-size: cover;
}
p{
    color:black;
}
body p { 
    font-size:x-large;
}

#technology{
    background-image: url(http://www.cssdebutant.com/include/images/css-code4.jpg);
    background-size: cover;
}
#project{
    background-image: url(http://www.themesltd.com/backgrounds/hipster/twinkle_twinkle_stars.jpg);
    background-size:cover;
}

#techimage{
    height: 100%;
    width: auto;
}
#technology
p {
    font-size: xx-large;
    color: black;
}
#technology
img {
    width:800px;
    height:auto;    
}
#project
p{
    font-size: xx-large;
    color: whitesmoke;
}
#project
a {
    font-style: oblique;
    font-size: xx-large;
    color: dodgerblue;
}
#project
#current-link{
    color:gold;
}
#technology
a {
    font-style: oblique;
    font-size: xx-large;
    color: dodgerblue;
}
#technology
#current-link{
    color:gold;
}